include ../../../make.config

CFLAGS?=-O2 -g
CPPFLAGS?=
LDFLAGS?=
LIBS?=

DESTDIR?=
PREFIX?=/usr/local
EXEC_PREFIX?=$(PREFIX)
BOOT_OUTPUT?=/boot
INCLUDE_DIR?=$(PREFIX)/include/

LIBDIRS = $(dir $(shell $(CC) -print-libgcc-file-name))

CFLAGS := $(CFLAGS) -ffreestanding -O2 -std=gnu99 -g -static -pedantic -D__KERNMOD__
CPPFLAGS := $(CPPFLAGS)
LDFLAGS := $(LDFLAGS) -melf_i386 -r -L$(LIBDIRS) -L$(DESTDIR)$(LIBDIR)
LIBS := $(LIBS)