include ../../make.config

CFLAGS?=-O2 -g
CPPFLAGS?=
LDFLAGS?=
LIBS?=

DESTDIR?=
PREFIX?=/usr/local
EXEC_PREFIX?=$(PREFIX)
BOOT_OUTPUT?=/boot
INCLUDE_DIR?=$(PREFIX)/include
LIBDIR?=$(EXEC_PREFIX)/lib

LIBDIRS = $(dir $(shell $(CC) -print-libgcc-file-name))

CFLAGS := $(CFLAGS) -m32 -D__KERNEL__ -fno-stack-protector -g -std=gnu99 -ffreestanding -fno-pie -Wall -Wextra -Iinclude
CPPFLAGS := $(CPPFLAGS)
LDFLAGS := $(LDFLAGS) -melf_i386 -L$(LIBDIRS)
LIBS := $(LIBS)

BUILD_ARCH ?= $(shell $(BUILDSCRIPTS_ROOT)/target_triplet_to_arch.sh $(shell $(BUILDSCRIPTS_ROOT)/default_host.sh))
include ../kernel/build/$(BUILD_ARCH).mk
