include ../../make.config

CFLAGS?=-O2 -g
CPPFLAGS?=
LDFLAGS?=
LIBS?=

DESTDIR?=
PREFIX?=/usr/local
EXEC_PREFIX?=$(PREFIX)
BOOT_OUTPUT?=/boot
INCLUDE_DIR?=$(PREFIX)/include/kernel
LIBDIR?=$(EXEC_PREFIX)/lib

LIBDIRS = $(dir $(shell $(CC) -print-libgcc-file-name))

CFLAGS := $(CFLAGS) -m32 -fno-stack-protector -g -std=gnu99 -ffreestanding -fno-pie -Wall -Wextra -Iinclude
CPPFLAGS := $(CPPFLAGS)
LDFLAGS := $(LDFLAGS) -melf_i386 -L$(LIBDIRS)
LIBS := $(LIBS)