.vscode/
out/img/**
*.vfd
*.tags
*.img
*.iso
source_bak
deployment_scripts
serial_out.txt
cppreduceOS.code-workspace
source/newlib/newlib-build/**
obj/**
source/doomgeneric/build/**
source/doomgeneric/doomgeneric
source/sysroot/**