CWD := $(abspath $(patsubst %/,%,$(dir $(abspath $(lastword $(MAKEFILE_LIST))))))
PROJECT_ROOT = $(CWD)
BUILDSCRIPTS_ROOT = $(CWD)/buildscripts

DEFAULT_HOST != $(BUILDSCRIPTS_ROOT)/build-arch.sh
HOST ?= DEFAULT_HOST
HOSTARCH != $(BUILDSCRIPTS_ROOT)/target-triplet-to-arch.sh $(DEFAULT_HOST)

BUILD_ARCH ?= $(shell $(BUILDSCRIPTS_ROOT)/target-triplet-to-arch.sh $(shell $(BUILDSCRIPTS_ROOT)/build-arch.sh))

TARGET = $(call lc,$(KERNEL_BUILD_CONF))

ifeq ($(KERNEL_BUILD_CONF), DEBUG)
CFLAGS += -g
endif

# Include the architecture configuration.
include $(PROJECT_ROOT)/conf/build/$(HOSTARCH).mk 