CWD := $(abspath $(patsubst %/,%,$(dir $(abspath $(lastword $(MAKEFILE_LIST))))))
PROJECT_ROOT = $(CWD)
BUILDSCRIPTS_ROOT = $(CWD)/buildscripts

DEFAULT_HOST != $(BUILDSCRIPTS_ROOT)/default_host.sh
HOST ?= DEFAULT_HOST
HOSTARCH != $(BUILDSCRIPTS_ROOT)/target_triplet_to_arch.sh $(DEFAULT_HOST)


# EDIT ME EDIT ME EDIT ME EDIT ME EDIT ME EDIT ME

BUILD_TARGET = DEBUG
NEWLIB_INSTALL_GLOBAL_HEADERS = TRUE

# EDIT ME EDIT ME EDIT ME EDIT ME EDIT ME EDIT ME


# Perform slight amounts of funny
lc = $(subst A,a,$(subst B,b,$(subst C,c,$(subst D,d,$(subst E,e,$(subst F,f,$(subst G,g,$(subst H,h,$(subst I,i,$(subst J,j,$(subst K,k,$(subst L,l,$(subst M,m,$(subst N,n,$(subst O,o,$(subst P,p,$(subst Q,q,$(subst R,r,$(subst S,s,$(subst T,t,$(subst U,u,$(subst V,v,$(subst W,w,$(subst X,x,$(subst Y,y,$(subst Z,z,$1))))))))))))))))))))))))))


TARGET = $(call lc,$(BUILD_TARGET))