CWD := $(abspath $(patsubst %/,%,$(dir $(abspath $(lastword $(MAKEFILE_LIST))))))
PROJECT_ROOT = $(CWD)
BUILDSCRIPTS_ROOT = $(CWD)/buildscripts

DEFAULT_HOST != $(BUILDSCRIPTS_ROOT)/build-arch.sh
HOST ?= DEFAULT_HOST
HOSTARCH != $(BUILDSCRIPTS_ROOT)/target-triplet-to-arch.sh $(DEFAULT_HOST)

TARGET = $(call lc,$(BUILD_TARGET))