include ../../make.config

CFLAGS?=-O2 -g
CPPFLAGS?=
LDFLAGS?=
LIBS?=

DESTDIR?=
PREFIX?=/usr/local
EXEC_PREFIX?=$(PREFIX)
BOOT_OUTPUT?=/boot
INCLUDE_DIR?=$(PREFIX)/include/kernel

LIBDIRS = $(dir $(shell $(CC) -print-libgcc-file-name))

CFLAGS := $(CFLAGS) -fno-stack-protector -g -std=gnu99 -ffreestanding -fno-pie -Wall -Wextra
CPPFLAGS := $(CPPFLAGS)
LDFLAGS := $(LDFLAGS) -L$(LIBDIRS) -L$(DESTDIR)$(LIBDIR)
LIBS := $(LIBS) -lgcc -lc_reduced