include ../make.config

CFLAGS?=-O2 -g
CPPFLAGS?=
LDFLAGS?=
LIBS?=

DESTDIR?=
PREFIX?=/usr/local
EXEC_PREFIX?=$(PREFIX)
BOOT_OUTPUT?=/boot
INCLUDE_DIR?=$(PREFIX)/include
LIBDIR?=$(EXEC_PREFIX)/lib

LIBDIRS = $(dir $(shell $(CC) -print-libgcc-file-name))

CFLAGS := $(CFLAGS) -ffreestanding -Wall -Wextra -Werror -Wno-unused-parameter -Wno-unused-function -D__KERNEL__ -D__LIBK -Iinclude 
CPPFLAGS := $(CPPFLAGS) 
LDFLAGS := $(LDFLAGS) -L$(LIBDIRS) -L$(DESTDIR)$(LIBDIR)
LIBS := $(LIBS) -nostdlib -lgcc 

BUILD_ARCH ?= $(shell $(BUILDSCRIPTS_ROOT)/target-triplet-to-arch.sh $(shell $(BUILDSCRIPTS_ROOT)/build-arch.sh))
