# x86_64 build configuration

# Add source directories
SOURCE_DIRECTORIES += arch/x86_64 drivers/x86/

# Specify the linker file
ARCH_LINK_LD := arch/x86_64/linker.ld

CFLAGS += -mno-red-zone -mno-mmx -mno-sse -mno-sse2 -mfsgsbase -mgeneral-regs-only -z max-page-size=0x1000

# Add extra stuff if needed
ifeq ($(USE_ACPICA), 1)
LIBS += -lacpica
endif
