# x86_64 build configuration

# Add source directories
SOURCE_DIRECTORIES += arch/x86_64 drivers/x86/

# Specify the linker file
ARCH_LINK_LD := arch/x86_64/linker.ld

CFLAGS += -DKERNEL_ARCHITECTURE=x86_64 -I$(DESTDIR)$(INCLUDE_DIRECTORY)/acpica/

# Add extra stuff if needed
ifeq ($(USE_ACPICA), 1)
LIBS += -lacpica
endif
