# i386 build configuration

# Add source directories
SOURCE_DIRECTORIES += arch/i386 drivers/x86/

# Specify the linker file
ARCH_LINK_LD := arch/i386/linker.ld

CFLAGS += -DKERNEL_ARCHITECTURE=i386 -I$(DESTDIR)$(INCLUDE_DIRECTORY)/acpica/

# Add extra stuff if needed
ifeq ($(USE_ACPICA), 1)
LIBS += -lacpica
endif