include ../../../make.config

CFLAGS?=
CPPFLAGS?=
LDFLAGS?=
LIBS?=

DESTDIR?=
PREFIX?=/usr/local
EXEC_PREFIX?=$(PREFIX)
BOOT_OUTPUT?=/boot
INCLUDE_DIR?=$(PREFIX)/include/kernel


LIBDIRS = $(dir $(shell $(CC) -print-libgcc-file-name))


CFLAGS := $(CFLAGS)
BIOS_C_FLAGS := $(CFLAGS) -m32 -ffreestanding -Ipolyaniline/include/ -DPLATFORM_IS_SELECTED -DPLATFORM_BIOS -fno-pie
CPPFLAGS := $(CPPFLAGS)
EFI_LD_FLAGS := $(LDFLAGS) /usr/lib/crt0-efi-x86_64.o -nostdlib -znocombreloc -T /lib/elf_x86_64_efi.lds -shared -Bsymbolic -L /usr/lib/ -l:libgnuefi.a -l:libefi.a
BIOS_LD_FLAGS := $(LDFLAGS) -L$(LIBDIRS) -melf_i386 -T bios_link.ld -nostdlib -lgcc
LIBS := $(LIBS)
