include ../../make.config

include ../arch/$(HOSTARCH).config

CFLAGS?=-O2 -g
CPPFLAGS?=
LDFLAGS?=
LIBS?=

DESTDIR?=
PREFIX?=/usr/local
EXEC_PREFIX?=$(PREFIX)
BOOT_OUTPUT?=/boot
INCLUDE_DIR?=$(PREFIX)/include
LIBDIR?=$(EXEC_PREFIX)/lib

LIBDIRS = $(dir $(shell $(CC) -print-libgcc-file-name))

CFLAGS := $(CFLAGS) -ffreestanding -O2 -Wall -Wextra -Werror -fno-pie -g -static -pedantic -Wno-unused-parameter -Wno-unused-function -D__KERNEL_DRIVER__ 
CPPFLAGS := $(CPPFLAGS) 
LDFLAGS := $(LDFLAGS) -L$(LIBDIRS) -L$(DESTDIR)$(LIBDIR) -r
LIBS := $(LIBS) -nostdlib -lgcc