include ../../make.config

CFLAGS?=-O2 -g
CPPFLAGS?=
LDFLAGS?=
LIBS?=

DESTDIR?=
PREFIX?=/usr/local
EXEC_PREFIX?=$(PREFIX)
BOOT_OUTPUT?=/boot
INCLUDE_DIR?=$(PREFIX)/include/

LIBDIRS = $(dir $(shell $(CC) -print-libgcc-file-name))

CFLAGS := $(CFLAGS)
CPPFLAGS := $(CPPFLAGS)
LDFLAGS := $(LDFLAGS) -L$(LIBDIRS) -L$(DESTDIR)$(LIBDIR)
LIBS := $(LIBS)