include ../../make.config

CFLAGS?=-O2 -g
CPPFLAGS?=
LDFLAGS?=
LIBS?=

DESTDIR?=
PREFIX?=/usr/local
EXEC_PREFIX?=$(PREFIX)
BOOT_OUTPUT?=/boot
INCLUDE_DIR?=$(PREFIX)/include/kernel

LIBDIRS = $(dir $(shell $(CC) -print-libgcc-file-name))

CFLAGS := $(CFLAGS) -m32 -fno-stack-protector -g -std=gnu99 -ffreestanding -fno-pie -Wnone
CPPFLAGS := $(CPPFLAGS) -D__is_kernel -I.
LDFLAGS := $(LDFLAGS) -L$(LIBDIRS)
LIBS := $(LIBS) -nostdlib -lgcc

CFLAGS := $(CFLAGS) -Wno-unused-variable -Wno-discarded-qualifiers