include ../make.config

CFLAGS?=-O2 -g
CPPFLAGS?=
LDFLAGS?=
LIBS?=

DESTDIR?=
PREFIX?=/usr/local
EXEC_PREFIX?=$(PREFIX)
BOOT_OUTPUT?=/boot
INCLUDE_DIR?=$(PREFIX)/include
LIBDIR?=$(EXEC_PREFIX)/lib

LIBDIRS = $(dir $(shell $(CC) -print-libgcc-file-name))

CFLAGS := $(CFLAGS) -ffreestanding -Wall -Wextra -Werror -Wno-unused-function -Wno-unused-parameter -z max-page-size=0x1000

CPPFLAGS := $(CPPFLAGS) 
LDFLAGS := $(LDFLAGS) -L$(LIBDIRS)
LIBS := $(LIBS) -lgcc

# Libk/libc specific
LIBC_CFLAGS := $(CFLAGS) -D__LIBC
LIBK_CFLAGS := $(CFLAGS) -D__LIBK
LIBC_LDFLAGS := $(LDFLAGS) 
LIBK_LDFLAGS := $(LDFLAGS)

