include ../make.config

CFLAGS?=-O2 -g
CPPFLAGS?=
LDFLAGS?=
LIBS?=

DESTDIR?=
PREFIX?=/usr/local
EXEC_PREFIX?=$(PREFIX)
BOOT_OUTPUT?=/boot
INCLUDE_DIR?=$(PREFIX)/include
LIBDIR?=$(EXEC_PREFIX)/lib

LIBDIRS = $(dir $(shell $(CC) -print-libgcc-file-name))

CFLAGS := $(CFLAGS) -ffreestanding -Wall -Wextra -Werror
CPPFLAGS := $(CPPFLAGS) 
LDFLAGS := $(LDFLAGS) -L$(LIBDIRS)
LIBS := $(LIBS)

# Libk/libc specific
LIBC_CFLAGS := $(CFLAGS) -D__is_libc
LIBK_CFLAGS := $(CFLAGS) -D__is_libk
LIBC_LDFLAGS := $(LDFLAGS) 
LIBK_LDFLAGS := $(LDFLAGS)

